@import url("style.css");

body {
    position: relative;
    cursor: none;
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: rgba(232, 208, 0, 0.6);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 1001;
}

#stalker.linkHover {
    top: -32px;  
    left: -32px;
    width: 64px;
    height: 64px;
    transition: .5s;
    background: rgba(232, 208, 0, 0.4);
}

a {
    cursor: none;
}