@import url("portfolio.css");

iframe {
    display: inherit;
}

.spVideoWrap {
    padding: 10px 0;
}

.colorYellow {
    color: #E8D000;
}

.portFolioWrapper {
    text-align: center;
    padding: 100px 5%;
}

.width284px {
    width: 284px;
}

.section {
    margin: 70px 0;
}

.videos {
    /* margin-top: 50px; */
    padding: 0 5%;
}

.videoTypesTitle {
    font-size: 24px;
}

.width420px {
    width: 420px;
}

.portForioVideos {
    width: 100%;
    height: 190px;
    box-shadow: rgb(0,0,0) 0 5px 5px;
}

.realVideoWrap {
    padding-top: 70px;
}

@media screen and (min-width: 720px) {

    iframe {
        display: block;
    }    

    .videos {
        padding: 0;
    }
    
    .portFolioWrapper {
        padding: 150px 0 100px 0;
        max-width: 1000px;
        margin: 0 auto;
    }

    .pcPortForioVideos {
        width: 415px;
        height: 232px;
        box-shadow: rgb(0,0,0) 0 5px 5px;
    }

    .spVideoWrap {
        padding: 0;
    }

    .realVideoWrap {
        padding-top: 0;
    }
}