@import url("portfolio.css");

iframe {
    display: block;
}

.portFolioWrapper {
    padding: 150px 230px 100px 230px;
    text-align: center;
    color: rgba(8, 114, 158, 1);
}

.section {
    margin: 70px 0;
}

.videos {
    margin-top: 50px;
}

.videoTypesTitle {
    font-size: 24px;
}