@import url("portfolio.css");

iframe {
    display: inherit;
}

.spVideoWrap {
    padding: 10px 0;
}

.portFolioWrapper {
    text-align: center;
    color: rgba(8, 114, 158, 1);
    padding: 100px 5%;
}

.section {
    margin: 70px 0;
}

.videos {
    margin-top: 50px;
    padding: 0 5%;
}

.videoTypesTitle {
    font-size: 24px;
}

.portForioVideos {
    width: 100%;
    height: 190px
}

.realVideoWrap {
    padding-top: 70px;
}

@media screen and (min-width: 720px) {

    iframe {
        display: block;
    }    

    .videos {
        padding: 0;
    }
    
    .portFolioWrapper {
        padding: 150px 230px 100px 230px;
    }

    .pcPortForioVideos {
        width: 415px;
        height: 232px;
    }

    .spVideoWrap {
        padding: 0;
    }

    .realVideoWrap {
        padding-top: 0;
    }
}