/* @import url("style.css"); */
@import url("portfolio.css");


.backgroundGrayPriceContent {
    background-color: rgb(49, 49, 49);
}

.height170px {
    height: 170px;
}

.priceTopWrapper {
    padding: 140px 0 50px 0;
    text-align: center;
}

.priceTopDiscription {
    padding: 30px 0;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    max-width: 800px;
}

.section {
    text-align: center;
    padding: 20px 5%;
    margin: 0;
}

.priceDiscriptionHeader {
    color: rgba(232, 208, 0, 1);
}

.priceDiscription {
    padding: 0 20px;
    text-align: left;
    width: 100%;
}

.buttonWrap {
    margin: 50px 0;
}

.priceDitail {
    margin: 50px 0;
}

.priceVideos {
    width: 340px;
    height: 190px
}

.hqAnimationVideoPoster {
    font-size: 40px; 
    text-align: center; 
    color: #fff; 
    transform: translateY(100%);
}

.maxWidth1280px {
    max-width: 1280px;
}

@media screen and (min-width: 720px) {

    .hqAnimationVideoPoster {
        font-size:47px; 
    }
    
    .section {
        padding: 100px 0;
        margin: 0 auto;
    }

    .priceVideos {
        width: 430px;
        height: 240px
    }

    .priceDiscription {
        width: 400px;
    }    
    
}