* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: roboto, Arbutus Slab, Noto Serif;
}

h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* iframe body {
    cursor: none;
} */

/* input, textarea {
    cursor: none;
} */

#headerColorYellow {
    color: #FAE20F;
}

.writingModeVerticalLr {
    writing-mode: vertical-lr;
}

.menu > li {
    float: left;
    width: 25%; /* グローバルナビ4つの場合 */
    height: 50px;
    line-height: 50px;
    background: rgb(29, 33, 19);
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 90px;
    width: 15%;
    background: rgba(100, 100, 100, 0.3);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 90px;
    visibility: visible;
    opacity: 1;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: #072A24;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    line-height: 40px;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.changeBackgroundColorWhite {
    transition: 0.5s;
}

.changeBackgroundColorWhite:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.fixedToContactButton {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;    
    writing-mode: vertical-lr;
    position: fixed;
    width: 40px;
    height: 140px;
    right: 30px;
    bottom: 25px;
    background-color: rgb(250, 226, 15);  
}

.transition07s {
    transition: 0.7s;
}

.fixedToContactButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb( 0, 0, 0);
    border: 2px solid rgb(250, 226, 15);
}

.fixedToContactButton a:hover {
    color: rgb( 0, 0, 0);
}

.maxWidth850px {
    max-width: 850px;
}

.maxWidth1000px {
    max-width: 1000px;
}

.textDecorationUnderLine {
    text-decoration: underline;
}

.backgroundGray {
    background-color: rgb(65, 65, 65);
}

.padding5px {
    padding: 5px;
}

.padding10px {
    padding: 10px;
}

.padding15px {
    padding: 15px;
}

.padding20px {
    padding: 20px;
}

.padding30px {
    padding: 30px;
}

.padding60px {
    padding: 60px;
}

.paddingTop90px {
    padding-top: 90px;
}

.paddingBottom5px {
    padding-bottom: 5px;
}

.paddingBottom15px {
    padding-bottom: 15px;
}

.paddingBottom30px {
    padding-bottom: 30px;
}

.paddingBottom60px {
    padding-bottom: 60px;
}

.paddingLeft50px {
    padding-left: 50px;
}

.paddingLeftRight5px {
    padding: 0 5px;
}

.paddingLeftRight30px {
    padding: 0 30px;
}

.paddingTopBottom5px {
    padding: 5px 0;
}

.paddingTopBottom10px {
    padding: 10px 0;
}

.paddingTopBottom15px {
    padding: 15px 0;
}

.paddingTopBottom20px {
    padding: 20px 0;
}

.paddingTopBottom30px {
    padding: 30px 0;
}

.paddingTopBottom60px {
    padding: 60px 0;
}

.paddingTopBottom100px {
    padding: 100px 0;
}

.borderRadius10px {
    border-radius: 10px;
}

.borderRadius15px {
    border-radius: 15px;
}

.paddingLeft50px {
    padding-left: 50px;
}

.checkIcon {
    width: 32px;
    height: 25px;
    margin: 0 16px;
}

.borderRed {
    border: solid 2px #67BD31;
}

.borderBlue {
    border: solid 2px #4E84C2;
}

.borderOrange {
    border: solid 2px #FF8800;
}

.borderYellow {
    border: solid 2px #FAE20F;
}

.borderGray {
    border: solid 2px #A0A09F;
}

.borderWhite {
    border: solid 2px rgb(255, 255, 255);
}


#topBackGroundVideo {
    width: 100%;
    /* height: calc(100vh - 90px); */
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

#service {
    padding-top: 100px;
    margin-top: -100px;
}

.displayInlineblock {
    display: inline-block;
}

.headerBackgroundColor {
    background-color: rgba(100, 100, 100, 0.3);
}

.topWrapper {
    /* margin-top: 90px; */
    position: relative;
}

.topContactButtonWrap {
    margin-top: 30px;
}

.textDecorationNone {
    text-decoration: none;
}

.modalContact {
    width: 200px;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.secondSectionWrapper {
    text-align: center;
    padding: 15% 5%;
}

.warp {
    background: linear-gradient(-45deg, rgba(4, 114, 124, 0.4), rgba(17, 66, 99, 0.6));
}

.toContactButton {
    padding: 10px 20px;
    background-color: rgba(232, 208, 0, 1);
    border: solid rgba(250, 226, 15, 1) 1px;
    /* cursor: none; */
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    transition: all 0.5s;
}

.toContactButtonTextChangeThemecolorWhite {
    padding: 10px 20px;
    background-color: rgba(232, 208, 0, 1);
    border: solid rgba(250, 226, 15, 1) 1px;
    /* cursor: none; */
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    transition: all 0.5s;
}

.toContactButtonTextChangeThemecolor {
    padding: 10px 20px;
    background-color: rgba(232, 208, 0, 1);
    border: solid rgba(250, 226, 15, 1) 1px;
    /* cursor: none; */
    /* color: #fff; */
    color: #414141;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    transition: all 0.5s;
}

.toContactButton:hover {
    background-color: rgba(232, 208, 0, 0);
    color: #fff;
}

.toContactButtonTextChangeThemecolor:hover {
    background-color: rgba(232, 208, 0, 0);
    color: rgba(250, 226, 15, 1);
}

.toContactButtonTextChangeThemecolorWhite:hover {
    background-color: rgba(232, 208, 0, 0);
    color: rgba(250, 226, 15, 1);
}

.toPricePageButton {
    text-align: center;
    padding: 10px 20px;
    border: solid rgba(250, 226, 15, 1) 1px;
    /* cursor: none; */
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    /* width: 410px; */
    margin: 0 auto;
    transition: all 1s;
}

.toPricePageButton:hover {
    background-color:  rgba(232, 208, 0, 1);
}

.fourthSectionHeading {
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}

.fourthStrongPointWrap {
    width: 320px;
    padding: 20px;
    text-align: center;
}

.fourthStrongPointRealAnimationWrap {
    width: 100%;
}

.fourthSectionBackgroundYellow {
    position: relative;
    right: -15%;
    border: solid 2px rgba(250, 226, 15, 1);
    /* background-color:  rgba(250, 226, 15, 1); */
    width: 450px;
    /* height: 450px; */
    margin: 0 auto;
}

.fourthSectionBackgroundThemeColor {
    position: relative;
    left: -15%;
    border: solid 2px rgba(250, 226, 15, 1);
    /* background-color: rgba(8, 114, 158, 1); */
    width: 450px;
    height: 400px;
    margin: 0 auto;
}

.fourthSectionBackgroundThemeColor2 {
    padding: 30px 0;
    background-color: rgba(8, 114, 158, 1);
    text-align: center;
}

.forthSectionStrongPoint {
    font-size: 28px;
    padding-bottom: 30px;
}

.fourthSectionStrongPointDescription {
    font-size: 16px;
    padding: 30px;
}

.topContactButton:hover {
    color:#000;
    background-color: none;
}

.topHeading {
    font-weight: 20px;
    right: 5%;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 63%;
    font-weight: 100;
    /* height: 300px; */
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.thirdSectionWrapper {
    padding: 100px 0;
    color: #fff;
}

.thirdSectionIcon {
    color: rgba(250, 226, 15, 1);
    margin: 0 auto;
    width: 57px;
    height: 57px;
}

.services {
    text-align: center;
    padding-bottom: 100px;
    width: 500px;
    padding: 50px;
}

.servicesHeding {
    font-size: 27px;
    padding: 20px 0;
}

.flexDirectiionColumn {
    display: flex;
    flex-direction: column;
}

.toContactSection {
    padding: 20px 0;
    display: inline-block;
}

.tayoriContactButton {
    z-index: 10;
    right: 0;
    bottom: 0;
}

.toContactDiscription {
    font-size: 15px;
    padding: 40px 30px 0 30px;
}

.toContactButtonWrap {
    padding: 25px 0;
}

footer {
    width: 100%;
    color: #999;
    /* margin: 50px 0 0 0; */
    padding: 50px 0;
    /* position: fixed; */
    bottom: 0px;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.footerAbouts {
    padding: 20px 0 20px 20px;
    text-align: center;
}

.footerSection {
    padding: 10px 0 30px 0;
    text-align: center;
}

.instaWidjet {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.colorGray {
    color: rgb(65, 65, 65);
}

.spTopImage {
    position: relative;
    width: 100%;
}

.headerImage {
    overflow: hidden;
    width: 100%;
    height: 64px;
}


.topTitle {
    position: absolute;
    top: -115px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Arbutus Slab;
    font-size: 50px;
    font-weight: normal;
    transform: translateY(250px);
}

.widthFull {
    width: 100%;
}

.footImage {
    width: 100%;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexSpaceAround {
    display: flex;
    justify-content: space-around;
}

.alignItemsCenter {
    align-items: center;
}

.themeColorBackGround {
    background-color: rgba(8, 114, 158, 1);
}

.themeColor {
    color: rgba(8, 114, 158, 1);
}

.strongPoint {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    max-width: 790px;
    margin: 0 auto;
    padding: 15px 10px;
}

/* .strongPointWrap {
    width: 200px
} */

.strongPointUnderLine {
    background-color: rgba(250, 226, 15, 1);
    width: 75px;
    height: 2px;
    position: relative;
    top: 80px;
    left: 60px;
}

.strongPointUnderLineForFiveWords {
    background-color: rgba(250, 226, 15, 1);
    width: 125px;
    height: 2px;
    position: relative;
    top: 80px;
    left: 38px;
}

.strongPointTitle {
    /* line-height: 100px; */
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: solid 2px rgb(250, 226, 15);
}

.borderBottomYellow {
    border-bottom: solid 2px rgb(250, 226, 15);
}

.strongPointDiscription {
    /* height: 100px; */
    /* width: 540px; */
    display: flex;
    align-items: center;
    max-width: 560px;
}

.flexSpaceEvenly {
    display: flex;
    justify-content: space-evenly;
}

.fontWeightBold {
    font-weight: bold;
}

.fontSize12px {
    font-size: 12px;
}

.fontSize14px {
    font-size: 14px;
}

.fontSize16px {
    font-size: 16px;
}

.fontSize18px {
    font-size: 18px;
}

.fontSize19px {
    font-size: 19px;
}

.fontSize20px {
    font-size: 20px;
}

.fontSize25px {
    font-size: 25px;
}

.fontSize30px {
    font-size: 30px;
}

.fontSize38px {
    font-size: 38px;
}

.boxShadow5px {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
}

.headerLogo {
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 50px;
    font-weight: 100;
    text-decoration: none;
    color: #000;
    font-family: Arbutus Slab;
    transition: all 0.5s;
    height: 90px;
}

/* .headerLogo:hover {
    background-color: rgba(129, 129, 129, 0.5);
} */



.menu {
    line-height: 90px;
    width: 33%;
}

.pcMenus {
    display: none;
    transition: all 1s;
}

.pcMenus li {
    transition: all 0.5s;
}

.menuIcon {
    padding-right: 20px; 
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    /* padding-left: 20px; */
}

.spMenus .menu a {
    padding-left: 20px;
    color: #fff;
}

/* .menu:hover {
    background-color: rgba(129, 129, 129, 0.5);
} */

.colorWhite {
    color: #fff;
}

.colorYellow {
    color: rgba(232, 208, 0, 1);
}

.spHeadding {
    font-size: 25px;
    margin-top: 30px;
}

/* .middleSection a {
    cursor: none;
} */

.middleSection h1 a {
    margin: 30px 0 0 20px;
    display: block;
    text-decoration: none;
}

.middleSection {
    border-top: #999 solid 2px;
    color: #999;
    margin: 50px 0 ;
}

.middleSectionImage {
    width: 100%;
    text-align: center;
}

.discriptionSection {
    width: 90%;
    margin: 20px auto;
}

.topSection {
    /* padding: 200px 0 150px 0; */
    margin-top: 64px;
    color: #fff;
}

.textAlignCenter {
    text-align: center;
}

.marginAuto {
    margin: 0 auto;
}

.container  {
    margin: 0 auto;
    max-width: 1170px;
}

.displayFlex {
    display: flex;
}

.flexAlignItemsCenter{
    display: flex;
    align-items: center;
}

.menuShadow {
    /* display: none; */
    opacity: 0;
    transition: opacity 0.2s; 
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;
}

.menuShadow.opened {
    opacity: 1;
    pointer-events: auto;
    /* display: block; */
}

.spMenus {
    transform: translateX(101%);
    flex-direction: column;
    background-color: rgba(8, 114, 158, 1);
    width: 200px;
    z-index: 100;
    /* padding-left: 20px; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.2s;

    /* position: absolute; */
}

.spMenus li {
    width: 100%;
}

.spMenus ul {
    margin: 0;
    padding: 0;
}

.displayNone {
    display: none;
}

.opened {

}

.spMenus.opened {
    transform: none;
    margin: 0;
    padding: 0;
}

.menuSection {
    padding: 80px 0;
    text-align: center;
    color: #999;
    /* background-image: url("/image/ballantine1217.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
}

.price {
    text-align: right;
}

.drinkMenu {
    font-size: 12px;
    padding: 20px 0 0 20px;
    text-align: left;
}

.drinkNameWrap {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.drinkMenu .price {
    right: 0;
}

.drinkLabel {
    font-weight: bold;
    font-size: 16px;
}


.snsIcons {
    text-align: center;

}

.spSnsIcon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.notFound {
    margin: 0 auto;
    padding: 164px 0 100px 0;
    text-align: center;
}

.pcTopVideo {
    display: none;
}

.pcFourthSectionMovie2 {
    display: none;
}

.displayBlock {
    display: block;
}

.pcFourthSectionMovie3 {
    display: none;
}

.spFourthSectionMovie3 {
    width: 340px;
    height: 200px;

}

@media screen and (min-width:720px) {

    .toContactDiscription {
        font-size: 16px;
    }
    

    .fourthSectionStrongPointDescription {
        padding: 0;
    }
    

    .fourthStrongPointRealAnimationWrap {
        width: 359px;
    }    

    .fourthSectionBackgroundThemeColor2 {
        padding: 100px 0 220px 0;
        text-align: left;
    }
    

    .spFourthSectionMovie3 {
        display: none;
    }
    
    .pcFlexSpaceAround {
        display: flex;
        justify-content: space-around;
    }

    .fourthStrongPointWrap {
        width: 320px;
        padding: 60px 0;
        text-align: left;
    }

    .topHeading {
        /* right: 30%; */
        left: 5%;
        font-size: 23px;
        text-align: left;
    }

    .pcDisplayFlexCenter {
        display: flex;
        justify-content: center;
    }

    .pcDisplayFlex {
        display: flex;
    }

    .pcFourthSectionMovie3 {
        /* padding: 100px 0; */
        left: 200px;
        width: 520px;
        height: 318px;
        min-height: 320px;
        min-width: 500px;
        display:block;
        position:absolute;
    }

    .pcFourthSectionMovie2 {
        width:561px;
        height:316px;
        min-height:316px;
        min-width:561px;
        display:block;
        position:absolute;
        top: 100px;
        right: -530px;
    }        

    .pcFourthSectionMovie {
        top: 60px;
        left: -118%;
        z-index: 1;
        width:530px;
        height:314px;
        min-height:314px;
        min-width:560px;
        display:block;
        position:absolute;
    }
    

    .pcTopVideo {
        display: block;
    }
    
    .pcDrinkMenu {
        width: 500px;
        margin: 0 auto;
    }
    
    .menu {
        font-size: 13px;
        line-height: normal;
        display: flex;
        align-items: center;
        width: 33%;
        justify-content: center;
    }

    .menuIcon {
        display: none;
    }

    .topTitle {
        letter-spacing: 5px;
        position: unset;
    }
    
    .topTitle {
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: Arbutus Slab;
        font-size: 80px;
        font-weight: normal;
        transform: translateY(250px);
        letter-spacing: 5px;
    }

    .spTopImage {
        display: none;
    }

    .pcTopTitle {
        text-align: center;
        color: #fff;
        font-family: Arbutus Slab;
        font-size: 80px;
        transform: none;
    }
    
    .pcMenus {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .pcMiddleSectionImage {
        width: 60%;
    }

    .pcMiddleSection {
        display: flex;
        margin-top: 30px;
    }

    .pcTopWrapper {
        margin-top: 64px;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
    }

    .pcHeadding {
        font-size: 40px;
        margin-top: 30px;
    }

    .pcDiscriptionSection {
        padding-left: 30px;
    }
    
    .pcMap {
        width: 600px;
        height: 300px;
    }

    .pcTextAlignLeft {
        text-align: left;
    }
    
    .pcSecondSectionWrapper {
        padding: 5% 20%;
    }

    .spSeminarMovie {
        display: none;
    }

    .spFullAnimationMovieSample {
        display: none;
    }
}

@media screen and (max-width: 720px) {

    .spTextAlignCenter {
        text-align: center;
    }

    .spToPricePageButton {
        width: 80%;
        font-size: 20px;
        margin: 30px 0;
    }
    .spHeaderLogo {
        padding: 15px;
    }

    .spLogoImage {
        width: 54px;
    }
    
    .spFourthSectionBackgroundYellow {
        width: auto;
        right: auto;
        height: auto;
    }

    .spFourthSectionBackgroundThemeColor {
        width: auto;
        right: auto;
        height: auto;
    }

    .spStrongPointTitle {
        position: static;
        width: auto;
    }

    .spStrongPointDiscription {
        width: auto;
    }

    .spStrongPoint {
        display: block;
        line-height: normal;
    }

    .strongPointUnderLine {
        display: none;
    }

    .spStrongPointWrap {
        width: auto;
    }

    .strongPointUnderLineForFiveWords {
        display: none;
    }

    .spServices {
        width: auto;
        padding: 30px 10px;
    }

    .spFullAnimationMovieSample {
        width: 340px;
        height: 190px;
    }

    .player {
        margin: 0;
    }

    .spSeminarMovie {
        max-width: none;
        height: 190px;
        width: 340px;
    }

    .pcFourthSectionMovie {
        display: none;
    }

    .spFourthSectionStrongPointDescription {
        font-size: 18px;
        padding: 20px 8px;
    }

}
