@import url("style.css");
@import url("portfolio.css");
@import url("postMail.css")
/* for body */


#themeColorBackGround {
    background-color: rgba(8, 114, 158, 1);
}

#themeColor {
    color: rgba(8, 114, 158, 1);
}

#contactWrapper {
    padding: 200px 250px 0 250px;
}

#contactTopImage {
	
}

#contactPageDisctioption {
	padding: 30px;
	font-size: 20px;
}

#contactFormName {
    background-color: rgba(8, 114, 158, 1);
    font-size: 20px;
    margin: 0 20px 20px 0;
    width: 200px;
    height: 35px;
}

#contactForm {
    margin: 0 20px 20px 0;
    background-color: rgba(8, 114, 158, 1);
    font-size: 20px;
    width: 420px;
    height: 35px;
}

#messageForm {
    margin: 0 20px 20px 0;
    background-color: rgba(8, 114, 158, 1);
    font-size: 20px;
    width: 420px;
    height: 200px;
}

#sendButton {
    text-align: right;
    padding: 10px 20px;
    background-color: rgba(232, 208, 0, 1);
    border: solid rgba(250, 226, 15, 1) 1px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    transition: all 1s;
}

::placeholder {
    color: #fff;
}

input {
  font-size: 19px;
  height: 43px;
}

textarea {
  font-size: 19px;
}

input, textarea {
  width: 437px;
  margin-bottom: 5px;
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  color: #fff;
  background-color: rgba(8, 114, 158, 1);
}

li a {
	font-size: 16px;
}

＃pcCompanyAddress {
	font-size: 20px;
}

#spCompanyAddress {
	display: none;
}

#section {
	display: flex;
	justify-content: space-around;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}

#checkBox{
	width: 20px;
	height: 20px;
	display: inline-block;
}

/*postMail original*/

body {
	margin: 0;
	padding: 0;
	font-size: 90%;
	background: #f0f0f0;
	color: #000;
	font-family: Verdana,"MS PGothic",Osaka,Arial,sans-serif;
}

#toTopButton {
	text-decoration: none;
    color: #fff;
    background-color: rgba(8, 114, 158, 1);
    width: 200px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    border: #999;
	width: 220px;
}

#head {
	background: #00428e;
	color: #fff;
}
#head-in {
	padding: 8px 2em;
}
h1 {
	font-size: 135%;
	margin: 0;
}
#body {
	margin-left: 1.5em;
}

/* for table */
/*
#form-tbl {
	margin-left: 1.5em;
}
*/

#form {
	border-collapse: collapse;
	margin: 1em 0;
}
#form th, #form td {
	border: 1px solid #666;
	padding: 8px;
}
#form th {
	white-space: nowrap;
	background: #e8e8e8;
}
#form td {
	background: #fff;
}
p.btn input {
	width: 110px;
	height: 32px;
}

#btn { 
	display: flex;
	width: 437px;
	padding: 20px 0; 
}

/* for title */

/*
h2 {
	font-size: 100%;
	text-align: left;
	padding: 4px 6px;
	margin: 1.5em 0;
}
*/

/* for message */
p.msg {
	color: #dd0000;
	margin: 2em;
}
span.msg {
	color: #dd0000;
}

/* for back-button */
form.back {
	margin-top: 2em;
}

/* スマホ用 */
@media only screen and (max-width: 480px) {
	input, textarea { width: 315px; display: inline-block; }
	#body { margin-left: 0; }
	#contactWrapper { padding: 90px 0; }
	#contactTopImage { width: 100%; }
	#contactPageDisctioption { font-size: 15px; }
	#section{ display: block; }
	#pcCompanyAddress{ display: none; }
	#spCompanyAddress{ display: block; text-align: center;}
	#contactFormWrap { padding: 0 5%; }
	#btn { width: 315px; margin: 0 auto; }
	#confHeaddingWrap{ padding: 10px }
	#spLabel{ display: block; }
	#heading{ text-align: center; margin: 0 auto; }

	/* 投稿フォーム */
	#form-tbl { margin: 0 auto; text-align: center; }
	#form { width: 96%; margin: 10px auto; }
    #form th, #form td {
    	text-align: left;
		width: 100%;
        display: block;
        padding: 6px 3px;
        border-top: none;
    }
    #form tr:first-child th	{ border-top: 1px solid #666; }
    p.btn input { width: 10em; }
    
	/* 小見出し */
	h2 { margin: 1em 3px; width: 90%; }
	
	/* サンクス */
	p.msg { margin: 1em auto; }
}
